.header{ 
    display:flex;
    background-color: #020d2e;
    color: white;
    justify-content:space-around;
    align-items:center;
    margin:0px;
    height:8%;
    }
.allo{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 50%;
    font-size: 10px;
    gap:20px;
}
h3{
    margin-left:200px;
}

.hello{
    display: flex;
    
    width: 50%;

}
html{
    height:100%;
    width:100%;
}
body{
    display:flex;
    flex-direction: column;
    flex:1 1 0;
    margin:0px;
    height: 100%;
    width: 100%;
}
 h1{
    
   
    
    
 }
    

   

a{ 
    text-decoration: none;
    color: white;
    }
.title{
    display:flex;
    align-items:flex-start;
    justify-content: space-around;
    height:17%;
    background-color:#020d2e;
    
   

}
p{
    color: rgb(255, 255, 255);
   min-width:350px;
   margin:0px;
   
}
.one{
    display:flex;
    flex-direction: column;
    background-color: #020d2e;
    height:100%;
    margin-left:200px;
    align-items: flex-start;
    width:50%;
    margin-bottom: 50px;
    flex:1;


    

    
    

}
h1{
    color: white;
   margin-left: 0px;
    margin-right: 0px;
    margin-top:0px;
    margin-bottom: 0px;
    
}
.image{
    display:flex;
    align-self:center;
    justify-content:center;
    width:50%;
    height:100%;
    
    
    
}
p{
    max-width: 150px;
    
    margin:0px;
}
button{ 
background-color: rgb(76, 144, 247);

width:100px;
height:30px;

color: white;
}


  

.two{
    display: flex;
    flex-direction: column;
    height:25%;
    background-color: white;
    
}

.mini{
    display:flex;
    justify-content:center;
}
img{
    font-size: small;
}
.squares{
    display:flex;
    justify-content:center;
    

}
.thor{
    font-size: 17px;
    font-weight: bold;
    margin-left:150px;
}
.three{
    display:flex;
    flex-direction:column;
    background-color: rgb(219, 219, 219);
    justify-content:center;
    align-items: center;
    min-height: 25%;
}
.four{
    display:flex;
    height:18%;
    justify-content:center;
    align-items:center;
    background-color: white;
    

   
    
}

.other{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(76, 144, 247);
    height: 70%;
    width: 70%;

    
}

   

.text{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:60px;
}
.texto{
    width:30%;
    justify-content: center;
    align-items: center;
   
    
}
h4{
    color: white;
    background-color: rgb(76, 144, 247);
    margin:0px;
    width: 700px;
    
}
    
    
footer{
    margin:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 7%;
    background-color: #020d2e;

}